# Default ignored files
/shelf/
/workspace.xml

run/
.gradle/
build/
gradle-app.setting

## IntelliJ IDEA

.idea/
*.iml
*.iws
*.ipr

# External tool builders
.externalToolBuilders/

# CDT-specific
.cproject

# PDT-specific
.buildpath